.idea/
.vscode/
.venv*/
venv*/
**/__pycache__/
**/*.pyc
karatel/tests/
karatel/saves/*
!karatel/saves/.gitkeep
karatel/storage/postgresql_config.py
karatel/ai/config.py
htmlcov/
.pytest_cache/
.coverage
*.egg-info/
